/* con stands for container */
html,
body,
h1,
h5,
p {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: lightgrey;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header for the page */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    font-size: 25px;
}

.titleLogo {
    font-size: 45px;
    font-family: Helvetica;
    margin: 33px 20px 33px 80px;
}

.green {
    color: #8DC728;
}

.red {
    color: #CE2020;
}

.navBar {
    display: flex;
    margin: 0 100px;
}

.navItems {
    margin: 0 26px;
}

/* everything below the header */

.bodyCon {

    display: flex;
    align-items: center;
    flex: 1;
}

.contentCon {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.imgBoxs {
    width: 20%;
    height: auto;
    margin-right: 17px;
    position: relative;
}

.imgBoxs:last-child {
    margin: 0;
}

.imgBoxs img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.lilWordBox {
    /* height: 10%;
    right: 0px;
    bottom: 0px;
    position: absolute;
    line-height: 3;
    vertical-align: middle;
    font-weight: bold; */
    /* display: flex; */
    
}
p[class^="imgTxt"] {
    height: auto;
    right: 0px;
    position: absolute;
    vertical-align: middle;
    font-weight: bold;
    padding: 14px 5%;
}
.imgTxt1 {
    width: 40%;
    bottom: 0px;
    background-color: #8DC728;
    position: relative;
    
    text-align: end;
    
    
    
}
.imgTxt2 {
    width: auto;
    bottom: 10%;
    background-color: white;
   
}


/* article portion  */

.article {
    display: flex;
    width: 23%;
    line-height: 65px;
    font-size: 35px;
    font-family: 'Helvetica Now Display';
    font-weight: 900;
    margin-right: 65px;
}

.articleDiv {
    display: flex;
    flex-direction: column;
    gap: 4%;
}

.article p {
    font-size: 20px;
    font-family: helvetica, Arial;
    line-height: 30px;
}

h5 {
    margin: 0;
    font-family: helvetica, Arial;
    font-size: 22px;
}