html, body, h1, p {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background-color: lightgrey;
    width: 100%;
    height: 100%;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    font-size: 25px;
}

.titleLogo {
   font-size: 45px;
   font-family: Helvetica; 
   margin: 33px 20px 33px 90px;
   
}

.green {
    color: #5dd96c;
}

.red {
    color: red;
}

.navBar {
    display: flex;
    /* margin: 25px 100px; */
    width: 29%;
}

.navItems {
    margin: 0  10px;
}

.mainDiv {
    display: flex;
    justify-content: center;
    /* margin-top: -118px; */
    align-items: center;
    height: 84%;
}
.centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
    

.divBox {
    width: 20%;
    height: auto;
    margin-right: 17px;
}
.divBox:last-child {
    margin: 0;
}

.divBox img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.article {
    
    width: 22%;
    height: auto;
    line-height: 65px;
    font-size: 35px;
    font-family: 'Helvetica Now Display';
    font-weight: 900;
    margin-right: 60px;
}
p {
    font-size: 20px;
    line-height: 30px;
}